.background-room {
    position: relative;
    padding: 0px 0px 80px 0px;
  &__picture {
    width: 100%;
    img {
      max-width: 100%;
      position: relative;
      width: 100%;
    }
  }
  &__about {
    text-align: center;
    position: relative;
    max-width: 780px;
    margin: 100px auto;
    @include lg {
        max-width: 100%;
        margin: 60px auto;
    }
    @include sm {
        max-width: 100%;
        margin: 30px auto;
    }
    .decor-left {
      position: absolute;
      top: -40px;
      left: -60px;

      @include lg {
        display: none;
      }
    }

  }
}
