.form {
  padding: 140px 0px;
  @include lg {
    padding: 65px 0px;
  }
  @include md {
    padding: 50px 0px;
  }
  @include sm {
    padding: 40px 0px;
  }
  @include xs {
    padding: 30px 0px;
  }
  &__container {
    max-width: 766px;
  }
  &__box {
    position: relative;
    width: 370px;
    margin: 0 auto;
    @include xs {
      width: 100%;
    }
  }
  .decor {
    position: absolute;
    top: -15px;
    right: -8%;
    @include lg {
      right: 6%;
    }
    @include sm {
      right: 14%;
      top: -20px;
    }
    @include xs {
      display: none;
    }
  }

  &__top {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
    border-top: 1px solid #4d4d4d;
    &:not(:last-child) {
      margin-bottom: 60px;
      @include sm {
        margin-bottom: 40px;
        padding-top: 20px;
      }
      @include xs {
        margin-bottom: 20px;
      }
    }
    .decor-left {
      position: absolute;
      bottom: 0;
      left: -320px;
      @media (max-width: 1420px) {
        left: -220px;
      }
      @media (max-width: 1220px) {
        left: -100px;
      }
      img {
        @media (max-width: 1220px) {
          width: 80px;
        }
      }
      @include lg {
        display: none;
      }
    }
    .decor-right {
      position: absolute;
      top: 0;
      right: -190px;
      @media (max-width: 1220px) {
        right: -100px;
      }
      @include lg {
        display: none;
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
    &:not(:last-child) {
      margin-bottom: 40px;
      @include xs {
        margin-bottom: 10px;
      }
    }
    @include xs {
      flex-direction: column;
      gap: 10px;
    }
  }
  &__item {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include xs {
      width: 100%;
      gap: 10px;
    }
  }

  &__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: $primary;
    span {
      color: $secondary;
    }
    &.label-textarea {
      margin-bottom: 20px;
      @include xs {
        margin-bottom: 10px;
      }
    }
  }

  &__input {
    width: 100%;
    border: 1.5px solid $primary;
    padding: 20px;
    border-radius: 8px;
    outline: none;
    &:focus {
      border: 1.5px solid $secondary;
    }
    @include xs {
      padding: 10px;
    }
    &.input-textarea {
      height: 165px;
      resize: none;
      @include xs {
        height: 100px;
      }
    }
  }
  &__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__text-item {
    &.item-last {
      width: 176px;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: $primary;
    span {
      color: $secondary;
    }
  }

  &__button {
    @include xs {
      width: 100%;
    }
  }
}
