// scroll burger off

//body lock
._lock {
  overflow: hidden;
}

// global container

[class*="__container"] {
  max-width: 1160px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

// submenu

.submenu {
  position: relative;
}
.submenu__list {
  position: absolute;
  top: 25px;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease;
  list-style: none;
  background-color: #81adc8;
  width: 170px;
  border-radius: 5px;
  @include lg {
    top: 35px;
  }
}

.submenu__list .submenu-list__item {
  width: 100%;
}

.menu__item.submenu.open .submenu__list {
  opacity: 1;
  z-index: 1;
}
.submenu__list .submenu-list__link {
  color: $primary;
  padding: 10px;
  transition: 0.2s ease;
  width: 100%;
  display: inline-block;
  &:hover {
    background-color: #ffffff;
  }
}
.submenu__list .submenu-list__item:nth-child(1) .submenu-list__link {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.submenu__list .submenu-list__item:nth-child(3) .submenu-list__link {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

// btn
.btn {
  padding: 0px 48px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 8px 8px;
  background-color: $primary;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  transition: 0.3s ease;
  &:hover {
    box-shadow: 6px 6px 0 0 rgba(205, 70, 49);
  }
  &:active {
    box-shadow: 4px 4px 0 0 rgba(205, 70, 49);
  }
}

.btn-outline {
  border: 2px solid #000;
  color: $primary;
  background-color: transparent;
}

// h3 {
.h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #000;
  @include sm {
    font-size: 30px;
  }
  @include xs {
    font-size: 26px;
  }
}

// link {
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #4d4d4d;
  position: relative;
  &:hover {
    color: $secondary;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: $secondary;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
}
.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

// title

.top {
  &:not(:last-child) {
    margin-bottom: 100px;
    @include lg {
      margin-bottom: 65px;
    }
    @include md {
      margin-bottom: 50px;
    }
    @include sm {
      margin-bottom: 40px;
    }
    @include xs {
      margin-bottom: 30px;
    }
  }
  &__title {
    color: $primary;
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -2px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @include lg {
      font-size: 40px;
      line-height: 50px;
    }
    @include sm {
      font-size: 30px;
      line-height: 30px;
    }
    @include xs {
      font-size: 26px;
      line-height: 24px;
    }
  }

  &__subtitle {
    color: #4d4d4d;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    line-height: 36px;
    @include lg {
      font-size: 20px;
      line-height: 24px;
    }
    @include sm {
      font-size: 18px;
    }
    @include xs {
      font-size: 16px;
    }
  }
}

// Episodes section
.row-episodes {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @include lg {
    margin-top: 70px;
  }
  @include md {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }

  @include sm {
    margin-top: 30px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 16px;
    &.shadow {
      box-shadow: 10px 10px 0 0 #81adc8;
    }
  }
  &__item-top {
    display: flex;
    gap: 20px;
    align-items: center;
    @include lg {
      align-items: flex-start;
    }
    @include xs {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
  &__item-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    margin-top: auto;
    @include xs {
      gap: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    &.right {
      flex-direction: column;
    }
    @include xs {
      flex-direction: unset;
      justify-content: center;
    }
  }

  &__image {
    display: flex;
    position: relative;
    img {
      border-radius: 8px;
    }
  }

  &__social {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__social-item {
    img {
      transition: 0.3s ease;
      width: 12px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__actions {
    display: flex;
    gap: 6px;
    @include xs {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__btn {
    border: 1px solid #4d4d4d;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 160%;
    color: #4d4d4d;
    transition: all 0.3s ease;
    &:hover {
      background-color: $secondary;
      color: #fff;
      border: 1px solid transparent;
    }
  }

  &__top {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 13px;
  }

  &__number-episode {
    color: #cd4631;
    font-size: 16px;
    line-height: 160%;
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__name {
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: $primary;
    transition: 0.3s ease;
    display: inline-block;
    // &.black {
    //   color: $primary;
    // }
    &:hover {
      color: #cd4631;
    }
  }

  &__bottom {
    padding-top: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 160%;
    color: #4d4d4d;
  }

  &__hosted {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 50px;
    position: relative;
    @include xs {
    }
  }

  &__hosted-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 160%;
    color: #4d4d4d;
  }

  &__hosted-icons {
    display: flex;
    align-items: center;
  }

  &__hosted-icon {
    &.first-icon {
      position: absolute;
      right: 0px;
      border: 2px solid #fff;
      border-radius: 100%;
      z-index: 2;
    }
    &.second-icon {
      position: absolute;
      right: 25px;
      z-index: 1;
    }
  }
}
// column news
.column-news {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  &.shadow {
    box-shadow: 10px 10px 0 0 #000;
    background: #fff;
  }

  &__picture {
    img {
      border-radius: 8px;
      max-width: 100%;
      width: 100%;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
    height: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #4d4d4d;
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: $primary;
    transition: 0.3s ease;
    &:hover {
      color: $secondary;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @include lg {
      font-size: 30px;
      line-height: 130%;
    }
    @include sm {
      font-size: 26px;
      line-height: 120%;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 160%;
    color: #4d4d4d;
    margin-top: auto;
  }

  &__actions {
    border-top: 1px solid #4d4d4d;
    padding-top: 26px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    gap: 20px;
    @include md {
      flex-direction: column;
    }
    @include sm {
      flex-direction: unset;
    }
    @media (max-width: 392px) {
      flex-direction: column;
    }
  }

  &__btns {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }

  &__btn {
    border: 1px solid #4d4d4d;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 160%;
    color: #4d4d4d;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #cd4631;
      color: #fff;
      border: 1px solid transparent;
    }
  }

  &__date {
    font-weight: 700;
    font-size: 12px;
    line-height: 160%;
    color: #4d4d4d;
  }
}

.black {
  color: #000 !important;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
