.header-main {
  position: relative;
  padding: 65px 0px 120px 0px;
  @include lg {
    padding: 65px 0px;
  }
  @include md {
    padding: 50px 0px;
  }
  @include sm {
    padding: 40px 0px;
  }
  @include xs {
    padding: 30px 0px;
  }

  .decor-left {
    position: absolute;
    top: 0;
    left: 0;
    @include lg {
      display: none;
    }
  }
  .decor-right {
    position: absolute;
    top: 0;
    right: 0;
    @include lg {
      display: none;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $primary;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -4px;
    max-width: 515px;
    @media (max-width: 1200px) {
      font-size: 70px;
    }
    @include lg {
      font-size: 60px;
    }
    @include md {
      font-size: 50px;
    }
    @include sm {
      font-size: 45px;
      max-width: 100%;
    }
    @include xs {
      font-size: 35px;
    }
    span {
      color: $secondary;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
      @include sm {
        margin-bottom: 20px;
      }
    }
  }

  &__subtitle {
    color: #4d4d4d;
    text-align: center;
    line-height: 26px;
    max-width: 374px;
    @include sm {
      max-width: 100%;
    }
    @include xs {
      font-size: 14px;
    }
    &:not(:last-child) {
      margin-bottom: 60px;
      @include sm {
        margin-bottom: 20px;
      }
    }
  }


  .swiper {
    margin-top: 120px;
    padding: 0px 15px;
    @media (max-width: 1440px) {
      margin-top: 80px;
    }
    @include md {
      margin-top: 60px;
    }
    @include sm {
      margin-top: 30px;
    }
  }
  .swiper-slide {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__image {
      max-width: 100%;
      width: 100%;
      border-radius: 12px;
    }
    &__social {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        transition: 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    &__item-image {
    }

    &__text {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: #81adc8;
      font-size: 36px;
      font-weight: 700;
      line-height: 51px;
    }
  }
}
