.podcast-body {
  display: flex;
  flex-direction: unset;
  @include lg {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
.header-main-podcast {
  &__item {
    flex: 0 1 50%;
  }
  .decor-right {
    img {
      @media (max-width: 1500px) {
        width: 100px;
      }
      @media (max-width: 1340px) {
        display: none;
      }
    }
  }
}
.item-podcast {
  display: flex;
  &__picture {
    position: relative;

    img {
      max-width: 472px;
      width: 100%;
    }
  }

  &__social {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    gap: 12px;
    img {
      transition: 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__social-text {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-weight: 700;
    font-size: 46px;
    line-height: 140%;
    letter-spacing: -0.08em;
    color: #81adc8;
    @include sm {
      font-size: 36px;
    }
    @include xs {
      font-size: 26px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__episodes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__episodes-number {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: $secondary;
  }

  &__episodes-outline {
    font-weight: 700;
    font-size: 12px;
    line-height: 160%;
    color: #cd4631;
    border: 1px solid #cd4631;
    border-radius: 4px;
    padding: 3px 6px;
  }

  &__episodes-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: $primary;
    padding-bottom: 23px;
    border-bottom: 1px solid $primary;
    @include sm {
      font-size: 30px;
      line-height: 100%;
    }
  }

  &__episodes-text {
    padding-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4d4d4d;
  }

  &__episodes-hosted {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include lg {
      justify-content: center;
      padding-top: 30px;
      gap: 20px;
    }
    @include sm {
      padding-top: 30px;
    }

    @include xs {
      justify-content: center;
      padding-top: 20px;
      gap: 10px;
    }
  }

  &__episodes-author {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      font-weight: 700;
      color: $secondary;
    }
  }

  &__episodes-date {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #4d4d4d;
  }

  &__episodes-actions {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    @include lg {
      justify-content: center;
      margin-top: 30px;
    }
    @include sm {
      flex-wrap: wrap;
    }
  }

  &__episodes-btn {
    @include sm {
      width: 100%;
    }
    &.btn-outline {
      padding: 0px 39px;
      span {
        color: $secondary;
        display: inline-block;
      }
    }
  }
  &__episodes-play {
    margin-right: 10px;
  }
}
