.sponsor {
  padding: 140px 0px;
  position: relative;
  @include lg {
    padding: 65px 0px;
  }
  @include md {
    padding: 50px 0px;
  }
  @include sm {
    padding: 40px 0px;
  }
  @include xs {
    padding: 30px 0px;
  }
  &__top {
    position: relative;
    z-index: 1;
  }
  &__box {
    position: relative;
  }
  .decor {
    position: absolute;
    left: 20%;
    top: -35px;
    img {
      position: absolute;
    }
    @media (max-width: 1200px) {
      display: none;
    }
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
    z-index: 2;
    @media (max-width: 1140px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include md {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .decor-right {
    position: absolute;
    right: -75px;
    top: -70px;
    z-index: -1;
    img {
      @include sm {
        width: 100px;
      }
    }
    @include sm {
      right: -30px;
      top: -30px;
    }
  }
  .decor-left {
    position: absolute;
    left: -80px;
    bottom: -45px;
    z-index: -1;
    img {
      @include sm {
        width: 100px;
      }
    }
    @include sm {
      display: none;
    }
  }

  &__column {
    border: 1.5px solid #000;
    border-radius: 8px;
    padding: 60px 40px 30px 40px;
    display: flex;
    height: 357px;
    flex-direction: column;
    background-color: #ffffff;

    &.bg {
      background-color: #f7ede8;
    }
    @include md {
      padding: 30px 30px;
      height: auto;
    }
  }
  .scribble {
    position: absolute;
    z-index: 44;
    left: 50%;
    top: -50px;
    transform: translate(-50%, -20%);
    img {
      @include lg {
        width: 100px;
        height: 100px;
      }
    }
    @include lg {
      transform: translate(-50%, 0%);
    }
    @include md {
      display: none;
    }
  }
}
.column {
  position: relative; // Додайте це для встановлення контексту укладання
  z-index: 3;
  label {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #4d4d4d;
  }
  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  &__list-item {
    font-size: 16px;
    line-height: 160%;
    color: $primary;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: inherit;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @include xs {
      text-align: center;
    }
  }
  &__popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .column__title {
      margin-bottom: 0;
    }
    @include xs {
      flex-direction: column;
    }
  }
  &__popular-text {
    border: 1px solid #cd4631;
    border-radius: 4px;
    padding: 3px 6px;
    background-color: $secondary;
    p {
      font-weight: 700;
      font-size: 12px;
      line-height: 160%;
      color: #fff;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 160%;
    color: #4d4d4d;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    gap: 20px;
    @include md {
      margin-top: 30px;
    }
    @include xs {
      margin-top: 20px;
      flex-direction: column-reverse;
    }
  }

  &__price {
    display: flex;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: $secondary;
    span {
      font-size: 14px;
      color: #4d4d4d;
    }
    @include xs {
      line-height: 110%;
    }
  }
}
