.tabs {
  width: 100%;
  position: relative;
  
  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $primary;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    &-item {
      padding: 16px;
      cursor: pointer;
      &.active {
        color: $secondary;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    &.tabs__content-news {
      margin-top: 100px;
      @include lg {
        margin-top: 60px;
      }
      @include sm {
        margin-top: 30px;
      }
    }
  }
}
