.talk {
  position: relative;
  padding: 140px 0px;
  @include lg {
    padding: 65px 0px;
  }
  @include md {
    padding: 50px 0px;
  }
  @include sm {
    padding: 40px 0px;
  }
  @include xs {
    padding: 30px 0px;
  }
  .scribble {
    position: absolute;
    z-index: 44;
    left: 50%;
    top: -50px;
    transform: translate(-50%,-20%);
    img {
      @include lg {
        width: 100px;
        height: 100px;
      }
    }
    @include lg {
      transform: translate(-50%,0%);
    }
    @include md {
      display: none;
    }
  }

  .decor-left {
    position: absolute;
    left: -50px;
    bottom: 50px;
    @media (max-width:1300px) {
      left: 0px;
    }
    @include lg {
      display: none;
    }
  }
  .decor-right {
    position: absolute;
    right: -50px;
    top: -50px;
    @media (max-width:1300px) {
      right: 0px;
    }
    @include lg {
      display: none;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    @include lg {
      gap: 60px;
    }
    @include sm {
      flex-wrap: wrap;
      gap: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 120px;
      @include lg {
        margin-bottom: 65px;
      }
      @include md {
        margin-bottom: 50px;
      }
      @include sm {
        margin-bottom: 40px;
      }
      @include xs {
        margin-bottom: 30px;
      }
    }
  }

  &__item {
    flex: 0 1 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
      color: #000;
      font-size: 16px;
      line-height: 26px;
    }
    @include sm {
      flex: 1 1 100%;
    }
  }

  &__item-picture {
    img {
      max-width: 100%;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
      @include sm {
        margin-bottom: 20px;
      }
    }
  }

  &__review-body {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f7ede8;
    padding: 40px 15px;
    border-radius: 8px;
    @include lg{
      padding: 20px 15px;
    }
  }

  &__review-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 690px;
  }

  &__review-icon {
    &:not(:last-child) {
      margin-bottom: 50px;
      @include lg{
        margin-bottom: 20px;
      }
    }
  }

  &__review-title {
    color: $primary;
    font-weight: 700;
    line-height: 51px;
    font-size: 36px;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 40px;
      @include lg{
        margin-bottom: 20px;
      }
    }
    @include lg{
      font-size: 40px;
      line-height: 50px;
    }
    @include sm{
      font-size: 30px;
      line-height: 30px;
    }
    @include xs{
      font-size: 26px;
      line-height: 24px;
    }
  }

  &__review-author {
    display: flex;
    align-items: center;
    gap: 10px;
    @include xs {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__review-author-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__review-author-text {
    color: $primary;
    font-size: 14px;
    line-height: 22px;
  }
}
