// Global SCSS-files imports
@import "./mixins";
@import "./vars";
@import "./reset";
@import "./fonts";
@import "./global";


// Sections or Pages SCSS-files imports
@import "./header";
@import "./header-main";
@import "./talk";
@import "./reviews";
@import "./benefits";
@import "./episodes";
@import "./sponsor";
@import "./news";
@import "./app";
@import "./listeners";
@import "./our-sponsor";
@import "./form";

@import './footer';

// Libs
// @import './libs/swiper';

html,
body {
  height: 100%;
  font-family: $fontMain;
  color: $primary;
  font-size: 16px;
  font-weight: 500;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main {
  flex: 1 1 auto;
}
